/* Based on graphContainer: src/components/flow/graph/FlowGraph.module.css */
.selectedHistoryTabs {
  min-width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--panel-color);
  border: 1px var(--panel-color) solid;
  border-radius: 30px;

  padding: 25px 15px;
  margin-top: 15px;
}

/* Based on: src/components/flow/graph/FlowGraph.module.css */
.selectedHistoryTab {
  display: inline-block;

  text-transform: uppercase;
  color: var(--graph-title-color);
  border-bottom: 3px solid var(--graph-node-bg-color);

  font-size: 16px;
  margin-bottom: 10px;

  font-weight: bold;
  letter-spacing: 1.5px;

  padding: 8px 15px;
}

.selectedHistoryActiveTab {
  border-bottom: 3px solid var(--graph-title-color);
}
