.summaryTab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  column-gap: 14px;
}

.summaryTabKey {
  font-weight: bold;
  justify-self: end;
}

.summaryTabParameters {
  font-weight: bold;

  text-transform: uppercase;

  font-size: 14px;
  margin-top: 5px;

  font-weight: bold;
  letter-spacing: 1.2px;

  padding: 8px;
  padding-bottom: 4px;
  margin-bottom: 13px;

  color: var(--graph-text-color);
  border-bottom: 2px solid var(--graph-text-color);
}

.timestampText {
  cursor: pointer;
}

.timestampText:hover {
  text-decoration: underline;
}
