.containerNameSelectorContainer {
  margin-bottom: 10px;
}

.containerNameLabel {
  margin-right: 12px;
  font-weight: bold;
  font-size: 15px;
}

.containerNameSelector {
  font-family: monospace;
  font-size: 15px;
  padding: 3px 10px;
}

.containerNameOption {
  font-size: 22px;
}

.containerXterm {
  background-color: #000;
  padding: 13px 13px;
  border-radius: 10px;
}

.actionIcon {
  color: var(--primary-color);
  margin-left: 5px;
}

.actionIcon:not(:last-child) {
  margin-left: 12px;
}

.actionIcon:hover {
  text-shadow: var(--primary-shadow);
}
