.nodeText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nodeRow {
  composes: nodeText;

  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nodeRowHeader {
  composes: nodeRow;

  text-transform: uppercase;
  color: var(--graph-title-color);
  background-color: var(--graph-node-bg-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  padding: 8px 0;
  margin-bottom: 10px;
}

.nodeTitle {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.nodeRowLink {
  composes: nodeRow;

  color: var(--graph-link-color);
  font-weight: bolder;
}

.nodeRowLink:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.nodeRowText {
  composes: nodeRow;

  color: var(--graph-text-color);
}

.nodeRowSmall {
  composes: nodeRow;

  color: var(--graph-text-color);
  margin-top: 1px;
}

.githubIcon {
  color: #1c5edf;
  font-size: 21px;
  margin-right: 7px;
}

.dockerIcon {
  color: #1d63ed;
  font-size: 21px;
  margin-right: 7px;
}

.k8sIcon {
  color: #316ce6;
  font-size: 21px;
  margin-right: 7px;
}

.commitIcon {
  font-size: 16px;
  margin-right: 3px;
  padding-bottom: 3px;
}

.prIcon {
  font-size: 13px;
  margin-right: 3px;
  padding-bottom: 4px;
}

.codeText {
  composes: nodeText;

  font-size: 12px;
  font-family: monospace;
}

.shaIcon {
  margin-right: 5px;
}

.userIcon {
  font-size: 12px;
  margin: 0 5px;
}

.branchIcon {
  font-size: 12px;
  margin: 0 5px;
}

.timeIcon {
  font-size: 12px;
  margin-right: 5px;
}

.loadIcon {
  margin-right: 5px;
  --load-color: var(--graph-link-color);
}

.nodeSmallText {
  composes: nodeText;

  font-weight: bolder;
  font-size: 12px;
}

.nodeTimeText {
  composes: nodeSmallText;

  cursor: pointer;
}

.nodeTimeText:hover {
  text-decoration: underline;
}

.dockerfileIcon {
  font-size: 12px;
  margin-right: 5px;
}

.infraIcon {
  font-size: 11px;
  margin-right: 5px;
}

.nodeBadge {
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px 1px;
  display: flex;
  min-width: 50px;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  white-space: pre-wrap;
  margin-top: 5px;
}

.notFoundBadge {
  composes: nodeBadge;

  background-color: rgb(115, 115, 115);
}

.failingBadge {
  composes: nodeBadge;

  background-color: var(--danger-color);
}

.driftBadge {
  composes: nodeBadge;

  margin-left: 8px;
  background-color: #ff8c27;
}

.liveBadge {
  composes: nodeBadge;

  background-color: rgb(24, 190, 148);
}

.nodePhaseIcon {
  margin-left: 5px;
}

.nodeLoadIcon {
  composes: nodePhaseIcon;

  --load-color: var(--graph-link-color);
}

.nodeDangerIcon {
  composes: nodePhaseIcon;

  color: var(--danger-color);
  font-size: 12px;
}

.commitLink {
  color: #59636e;
}

.commitLink:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
