/**
 * Node row using "block" display. Clips the end of the text on overflow
 * Using "flex" does not support this the same way. e.g. ellipsis is not
 * supported on child
 */
.nodeRowBlock {
  display: block;
  max-width: 100%;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0 20px;
  margin-bottom: 5px;
}

.nodeRowHeader {
  composes: nodeRowBlock;

  text-transform: uppercase;
  color: var(--graph-title-color);
  background-color: var(--graph-node-bg-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--graph-node-bg-color);
  font-size: 16px;
  padding: 7px 20px;
  margin-bottom: 10px;
}

.nodeRowHeaderOnly {
  composes: nodeRowHeader;

  border-radius: 5px;
}

.nodeRowHeaderSelected {
  composes: nodeRowHeaderOnly;

  border: 1px solid var(--graph-title-color);
}

.nodeDivider {
  height: 1px;
  background-color: var(--separator-color);
  margin: 10px 20px;
}

.nodeTitle {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.nodeRowSub {
  composes: nodeRowBlock;

  color: var(--graph-text-color);
}

.nodeRowLink {
  composes: nodeRowBlock;

  color: var(--graph-link-color);
}

.nodeRowLink:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.codeText {
  margin-left: 5px;
  font-size: 12px;
  font-family: monospace;
  color: var(--graph-text-color);
}

.codeText:hover {
  text-decoration: underline;
}

.nodeTextSub {
  margin-left: 5px;
  font-weight: bolder;
}

.nodeLinkSub {
  composes: nodeTextSub;

  color: var(--graph-text-color);
}

.nodeLinkSub:hover {
  text-decoration: underline;
}

.prText {
  composes: nodeLinkSub;

  margin-right: 7px;
}

.nodeTimeText {
  composes: nodeTextSub;

  cursor: pointer;
}

.nodeTimeText:hover {
  text-decoration: underline;
}

.githubIcon {
  color: #1c5edf;
  font-size: 21px;
  margin-right: 7px;
}

.dockerIcon {
  color: #1d63ed;
  font-size: 21px;
  margin-right: 7px;
}

.prIcon {
  font-size: 13px;
  vertical-align: text-top;
}

.k8sIcon {
  color: #316ce6;
  font-size: 21px;
  margin-right: 7px;
}

.userIcon {
  font-size: 12px;
  margin-left: 7px;
}

.branchIcon {
  font-size: 12px;
}

.loadIcon {
  margin-right: 5px;
  --load-color: var(--graph-link-color);
}

.dockerfileIcon {
  font-size: 13px;
  vertical-align: text-top;
}

.infraIcon {
  font-size: 12px;
}

/* Status Icon */
.dangerIcon {
  color: var(--status-badge-danger-color);
}

.loadingIcon {
  --load-color: var(--graph-link-color);
  --load-icon-height: 14px;
}

.pendingIcon {
  font-size: 12px;
}
