.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nodeContent {
  composes: flexCenter;

  padding: 11px 15px;
}

.nodeLink {
  composes: flexCenter;

  color: var(--text-color);
}

.nodeIcon {
  padding: 5px;
  font-size: 27px;
}

.nodeTextLine {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nodeTextLineBolder {
  composes: nodeTextLine;

  font-weight: bolder;
}

.dockerIcon {
  color: #1d63ed;
}

.argoIcon {
  color: #ef7b4d;
}
