.argocdBadge {
  margin-top: 5px;
  padding: 3px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 5px;
}

.notFoundBadge {
  composes: argocdBadge;

  background-color: rgb(115, 115, 115);
}

.failingBadge {
  composes: argocdBadge;

  background-color: var(--danger-color);
}

.driftBadge {
  composes: argocdBadge;

  margin-left: 8px;
  background-color: #ff8c27;
}

.liveBadge {
  composes: argocdBadge;

  background-color: var(--history-grid-success-bg);
  border: 1px solid var(--history-grid-success-border);
  color: var(--argocd-badge-success-color);
}

.pulseIcon {
  font-weight: normal;
  color: var(--graph-text-color);
}

.dotIcon {
  margin-left: 7px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: var(--argocd-badge-health-color);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.badgeText {
  margin-left: 7px;
}
