.flowRow {
  min-width: var(--content-width);
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-top: 25px;
  padding: 25px 30px;
  font-size: 21px;
}

.flowRow:last-child {
  margin-bottom: 20px;
}

.flowRow:hover {
  background-color: var(--secondary-hover);
}

.flowRowLink {
  position: absolute;
  inset: 0;
}

.manifestLink {
  position: relative;
  float: right;
  color: var(--primary-color);
}

.manifestLink:hover {
  text-shadow: var(--primary-shadow);
}
