.firstSectionTitle {
  min-width: var(--content-width);
}

.sectionTitle {
  min-width: var(--content-width);
  border-top: 1px solid var(--separator-color);
  padding-top: 18px;
  margin-top: 36px;
}

.overviewContainer {
  min-width: var(--content-width);
  font-size: 17px;
  columns: 2;
  list-style: none;
  line-height: 2;
}

.overviewItem {
  max-width: 150px;
}

.overviewLabel {
  font-weight: bolder;
}

.overviewValue {
  float: right;
}

.namespacesLink {
  min-width: var(--content-width);
  padding-left: 40px;
  font-size: 17px;
}

.recentFlow {
  min-width: var(--content-width);
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-top: 25px;
  padding: 25px 30px;
  font-size: 21px;
}

.recentFlow:last-child {
  margin-bottom: 20px;
}

.recentFlow:hover {
  background-color: var(--secondary-hover);
}

.recentFlowLink {
  position: absolute;
  inset: 0;
}

.manifestLink {
  position: relative;
  float: right;
  color: var(--primary-color);
}

.manifestLink:hover {
  text-shadow: var(--primary-shadow);
}
