.sectionTitle {
  border-top: 1px solid var(--separator-color);
  padding-top: 18px;
  margin-top: 36px;
}

.overviewContainer {
  padding-left: 40px;
}

.overviewLabel {
  font-weight: bolder;
}

.recentFlowsContainer {
  padding-bottom: 18px;
}
