.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: var(--content-width);
  padding-bottom: 8px;
}

.navHeaderBordered {
  composes: navHeader;

  border-bottom: 1px solid var(--separator-color);
}

.component {
  color: var(--text-color);
}

.component:hover {
  text-decoration: underline;
}

.componentSeparator {
  margin: 0 18px;
}

.navFilter {
  background: var(--secondary-color);
  padding: 11px 4px;
  border-radius: 15px;
}

.navFilterItem {
  color: var(--text-color);
  padding: 9px 13px;
  font-weight: bolder;
}

.navFilterItem:hover {
  opacity: 0.8;
}

.navFilterSelected {
  composes: navFilterItem;

  background: #fff;
  border-radius: 15px;
  font-weight: bold;
}

.navFilterSelected:hover {
  opacity: 1;
  cursor: default;
}

.navFilterPushIcon {
  margin-right: 5px;
}

.navFilterPrIcon {
  margin-right: 5px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

/**
 * This menu is based on the code below and could possibly be refactored.
 * See: src/components/flow/history/FlowHistoryItem.module.css
 */
.navMenuTitle {
  composes: component;

  font: inherit;
  cursor: pointer;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.navMenuIcon {
  font-size: 18px;
}

.navMenu {
  margin: 0;
  padding: 0;
  inset: auto;
  position-area: bottom;
  border: 1px solid var(--menu-border-color);
  border-radius: 8px;
  box-shadow: var(--menu-shadow);
}

.navMenuItems {
  display: flex;
  flex-direction: column;
}

.navMenuItem {
  color: var(--menu-text-color);
  padding: 10px 14px;
}

.navMenuItem:hover {
  background-color: var(--panel-hover-color);
  opacity: 0.8;
}

.navMenuItemIcon {
  margin-right: 8px;
}
