.historyGrid {
  width: var(--content-width);
  display: grid;
  margin-top: 9px;
  gap: var(--history-grid-item-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--history-grid-item-width), 1fr)
  );
}

.historyGridText {
  margin-top: 1px;
}

.historyGridItem {
  height: 25px;
  line-height: 23px;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
}

.historyGridItem:hover {
  opacity: 0.8;
}

.historyGridSuccess {
  background-color: var(--history-grid-success-bg);
  border: 1px solid var(--history-grid-success-border);
  color: var(--history-grid-success-color);
}

.historyGridDanger {
  background-color: var(--history-grid-danger-bg);
  border: 1px solid var(--history-grid-danger-border);
  color: var(--history-grid-danger-color);
}

.historyGridRunning {
  background-color: var(--history-grid-running-bg);
  border: 1px solid var(--history-grid-running-border);
  color: var(--history-grid-running-color);
  --load-color: var(--history-grid-running-color);
}

.historyGridPending {
  background-color: var(--history-grid-pending-bg);
  border: 1px solid var(--history-grid-pending-border);
  color: var(--history-grid-pending-color);
}

.historyGridIcon {
  margin-right: 5px;
}

.historyGridItemSelected {
  composes: historyGridItem;

  border: 1px solid var(--history-grid-selection-border);
}

.historyGridNodeTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.historyGridNodeDuration {
  margin-left: 5px;
}
