/* Based on graphContainer: src/components/flow/graph/FlowGraph.module.css */
.historyNodeDetails {
  min-width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--panel-color);
  border: 1px var(--panel-color) solid;
  border-radius: 30px;

  padding: 25px 15px;
  margin-top: 15px;
}

/* Based on: src/components/flow/graph/FlowGraph.module.css */
.historyNodeTab {
  display: inline-block;

  text-transform: uppercase;
  color: var(--graph-title-color);
  border-bottom: 3px solid var(--graph-node-bg-color);

  font-size: 16px;
  margin-bottom: 10px;

  font-weight: bold;
  letter-spacing: 1.5px;

  padding: 8px 15px;
}

.historyNodeActiveTab {
  border-bottom: 3px solid var(--graph-title-color);
}

.nodeSummary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  column-gap: 14px;
}

.nodeSummaryKey {
  font-weight: bold;
  justify-self: end;
}

.nodeSummaryParameters {
  font-weight: bold;

  text-transform: uppercase;

  font-size: 14px;
  margin-top: 5px;

  font-weight: bold;
  letter-spacing: 1.2px;

  padding: 8px 15px;
}

.timestampText {
  cursor: pointer;
}

.timestampText:hover {
  text-decoration: underline;
}
