.successIcon {
  color: var(--success-color);
  font-size: 16px;
}

.dangerIcon {
  color: var(--danger-color);
  font-size: 16px;
}

.linkIcon {
  color: var(--primary-color);
  font-size: 16px;
}

.linkIcon:not(:first-child) {
  margin-left: 5px;
}

.linkIcon:hover {
  text-shadow: var(--primary-shadow);
}

.historyCommit {
  font-family: monospace;
  color: var(--text-color);
}

.historyCommit:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.timestamp {
  cursor: pointer;
}

.timestamp:hover {
  text-decoration: underline;
}
