/* History Item */
.historyItem {
  border-top: 1px solid var(--separator-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyItem:hover {
  background-color: var(--panel-color);
}

/* Title Row */
.historyTitle {
  min-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bolder;
}

.historyTitleHeading {
  display: flex;
  align-items: center;
}

.historyTitleText {
  font-family: var(--gh-font-family);
  font-weight: 500;
  letter-spacing: -0.31px;
  color: var(--gh-text-color);
}

.historyTitleText:hover {
  text-decoration: underline;
}

.historyTitlePrText {
  composes: historyTitleText;

  color: var(--gh-link-color);
}

.historyMenuIcon {
  color: var(--graph-text-color);
  font-size: 16px;
  padding: 6px 8px;
  margin-right: -8px;
  border-radius: 6px;
  cursor: pointer;
  background: none;
  border: none;
  visibility: hidden;
}

.historyMenuIcon:hover {
  background-color: var(--panel-hover-color);
}

.historyItem:hover .historyMenuIcon {
  visibility: visible;
}

/* Menu Popover*/
.historyMenu {
  margin: 0;
  padding: 0;
  inset: auto;
  position-area: bottom left;
  border: 1px solid var(--menu-border-color);
  border-radius: 8px;
  box-shadow: var(--menu-shadow);
}

.historyMenuItems {
  display: flex;
  flex-direction: column;
}

.historyMenuItem {
  color: var(--menu-text-color);
  padding: 10px 14px;
}

.historyMenuItem:hover {
  background-color: var(--panel-hover-color);
  opacity: 0.8;
}

.historyMenuItemIcon {
  margin-right: 8px;
}

/* Subtitle Row */
.historySubtitle {
  min-width: var(--content-width);
  display: flex;
  margin-top: 7px;
}

.historySubtitleItem {
  color: var(--graph-text-color);
  font-size: 14px;
  font-weight: bolder;
  padding: 6px 8px;
}

.historySubtitleItem:first-child {
  margin-left: -8px;
}

.historySubtitleItem:not(:first-child) {
  margin-left: 5px;
}

.historySubtitleText {
  margin-left: 5px;
}

.historySubtitleLink {
  composes: historySubtitleItem;

  border-radius: 6px;
  cursor: pointer;
}

.historySubtitleLink:hover {
  background-color: var(--panel-hover-color);
}

/* Details Expander Row */
.historyDetails {
  min-width: var(--content-width);
  display: flex;
  margin-top: 9px;
}
