.deployHistorySectionTitle {
  min-width: var(--content-width);
  padding-top: 33px;
  padding-bottom: 26px;
}

.podResourcesSectionTitle {
  width: var(--content-width);
  padding-top: 33px;
  padding-bottom: 26px;
  margin-top: 33px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
