html {
  /* Include padding and border in elements dimensions. */
  box-sizing: border-box;
  /* Looks nicer than default. */
  font-family: Helvetica, sans-serif;
}

*,
*:before,
*:after {
  /* Allow components to override. */
  box-sizing: inherit;
}
