:root {
  --text-color: #333;

  --header-height: 65px;
  --content-width: 880px;
  --panel-color: #f6f8fa;
  --separator-color: #eee;

  --table-color-hover: #f7f7f7;

  --graph-node-bg-color: #e4ebff;
  --graph-node-border-color: #e4e4e4;
  --graph-edge-color: #78849e;
  --graph-title-color: #0040bf;
  --graph-link-color: #3952b1;
  --graph-text-color: #3d5977;

  --primary-color: #4180e7;
  --primary-shadow: 0 0 10px #0c88dc, 0 0 20px #0f60f7;
  --secondary-color: rgb(240, 240, 240);
  --secondary-hover: rgb(230, 230, 230);
  --success-color: #19b698;
  --danger-color: #df3e3e;
  --load-color: #707fa2;
}

html {
  /* Include padding and border in elements dimensions. */
  box-sizing: border-box;
  /* Looks nicer than default. */
  font-family: Helvetica, sans-serif;
}

*,
*:before,
*:after {
  /* Allow components to override. */
  box-sizing: inherit;
}

body {
  color: var(--text-color);
  font-weight: 100;
  font-size: 14px;
  /* More space between lines */
  line-height: 1.42857143;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-bottom: 18px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: var(--text-color);
}
