:root {
  --text-color: #333;

  --header-height: 65px;
  --content-width: 880px;

  /* History grid item width.
   * The sum of widths and gaps should divide history content width
   * Example with 8 items: (8 items) * (103 px) + (7 gaps) * (8 px) = 880 px */
  --history-grid-item-width: 103px;
  --history-grid-item-gap: 8px;

  --panel-color: #f6f8fa;
  --panel-hover-color: #818b981a;
  --separator-color: #eee;

  --graph-node-bg-color: #e4ebff;
  --graph-node-border-color: #e4e4e4;
  --graph-edge-color: #78849e;
  --graph-title-color: #0040bf;
  --graph-link-color: #3952b1;
  --graph-text-color: #3d5977;

  --primary-color: #4180e7;
  --primary-shadow: 0 0 10px #0c88dc, 0 0 20px #0f60f7;
  --secondary-color: rgb(240, 240, 240);
  --secondary-hover: rgb(230, 230, 230);
  --danger-color: #df3e3e;
  --load-color: #707fa2;
  --progress-color: #709bd4;

  --status-badge-bg-color: #f9fafb;
  --status-badge-border-color: #e5e7eb;
  --status-badge-text-color: #25292e;
  --status-badge-success-color: #00a63e;
  --status-badge-danger-color: #e7000b;
  --status-badge-loading-color: #155dfc;

  --history-grid-success-bg: #dcfce7;
  --history-grid-success-border: #7bf1a8;
  --history-grid-success-color: #016630;
  --history-grid-danger-bg: #ffe2e2;
  --history-grid-danger-border: #ffa2a2;
  --history-grid-danger-color: #9f0712;
  --history-grid-running-bg: #dbeafe;
  --history-grid-running-border: #8ec5ff;
  --history-grid-running-color: #193cb8;
  --history-grid-pending-bg: #f3f4f6;
  --history-grid-pending-border: #d1d5dc;
  --history-grid-pending-color: #4a5565;
  --history-grid-selection-border: #2b7fff;

  --gh-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --gh-text-color: #1f2328;

  --menu-text-color: #364153;
  --menu-border-color: #d1d9e0;
  --menu-shadow: 0 6px 12px -3px #25292e0a, 0 6px 18px 0 #25292e1f;
}

html {
  /* Include padding and border in elements dimensions. */
  box-sizing: border-box;
  /* Looks nicer than default. */
  font-family: Helvetica, sans-serif;
}

*,
*:before,
*:after {
  /* Allow components to override. */
  box-sizing: inherit;
}

body {
  color: var(--text-color);
  font-weight: 100;
  font-size: 14px;
  /* More space between lines */
  line-height: 1.42857143;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-bottom: 18px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: var(--text-color);
}
