/* todo revisit this after the remaining sections are implemented */
.sectionTitle {
  width: var(--content-width);
  padding-top: 33px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
