.repo {
  min-width: var(--content-width);
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-top: 25px;
  padding: 25px 30px;
  font-size: 21px;
}

.repo:last-child {
  margin-bottom: 20px;
}

.repoFirst {
  margin-top: 8px;
}

.repo:hover {
  background-color: var(--secondary-hover);
}

.repoLink {
  position: absolute;
  inset: 0;
}

.manifestLink {
  position: relative;
  float: right;
  color: var(--text-color);
}

.manifestLink:hover {
  text-shadow: var(--primary-shadow);
}
